<header id="welcome" class="active">
    <div class="main-title">
        <h1><a href="javascript:void(0)" class="layout-navigator" data-target="welcome">Nicolas DE GHESELLE</a></h1>
        <a href="javascript:void(0)" class="layout-navigator" data-target="versions">v0.20.2</a>
    </div>
    <nav>
        <ul class="main-nav">
            <li><a href="javascript:void(0)" class="layout-navigator" data-target="statement">Getting started</a></li>
            <li><a href="javascript:void(0)" class="layout-navigator" data-target="skills">Documentation</a></li>
            <li><a href="javascript:void(0)" class="layout-navigator" data-target="projects">Implementation</a></li>
        </ul>
    </nav>
</header>