<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas DE GHESELLE</title>

    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/icons.css" type="text/css">
</head>
<body>

    {% include 'sections/background.html' %}
    {% include 'header.html' %}
    <main>
        {% include 'sections/statement.html' %}
        {% include 'sections/skills.html' %}
        {% include 'sections/projects.html' %}
        {% include 'sections/more/contact.html' %}
    </main>
    {% include 'footer.html' %}

<script src="/js/scripts.js"></script>
</body>
</html>