@import "../variables.scss";

.skill-category-title, .section-title-secondary {
    text-align: right;
    font-size: 3rem;
    margin: 0;
}

.skill-count {
    border: 3px solid $primary-color-light;
    border-radius: 50%;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    font-weight: bold;
    color: $primary-color-light;
    text-align: center;
    margin-right: 0.5rem;
}

.skill-description {
    margin-left: 2.5rem;
}

.skill {
    margin-top: 1rem;
}

/* Responsivity */

@media screen and (max-width: $size-md) {
    .skill-category-title, .section-title-secondary {
        text-align: left;
    }
}