<section id="statement" class="section">
    <div class="grid">
        <div class="col">
        </div>
        <div class="col-2"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <div class="text-rule"></div>
            <div class="statement-title scroll-reveal pop">
                {{ lang.STATEMENT.SUB|raw }}
            </div>
            <div class="statement-container scroll-reveal pop-left">
                {{ lang.STATEMENT.CONTENT|raw }}
            </div>
            <div class="statement-PBL scroll-reveal pop-right">
                <blockquote>
                    <i class="icon-quote-right"></i>
                    <p class="wiki-quote">
                        {{ lang.STATEMENT.QUOTE }}
                    </p>
                    <i class="icon-quote-left"></i>
                    <footer>
                        Wikipédia
                        <cite title="Wikipédia">
                            <a class="link" href="{{ lang.STATEMENT.QUOTE_LINK }}">PBL(Problem Based Learning)</a>
                        </cite>
                    </footer>
                </blockquote>
            </div>
            <div class="text-rule"></div>
        </div>
    </div>
</section>
