/* Background */
$layout-lines: 2px solid $gray-color-light;
#background {
    z-index: -1;
    position: fixed;
    width: 100%;

    .grid {
        border-left: $layout-lines;
        border-right: $layout-lines;
        .col {
            height: 100vh;
        }
        .col:not(:last-child) {
            border-right: $layout-lines;
        }
    }
}
#svg-background {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    svg {
        stroke: $gray-color-light;
        stroke-width: 2;
        fill: $gray-color-light;
        polygon {
            transition: all 300ms;
        }
    }
}