@import "variables.scss";

.grid {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;

    &.fluid {
        margin: 0;
    }

    .col, .col-2, .col-3, .col-auto, .col-full {
        box-sizing: border-box;
        padding: 0 1rem;
        flex: 0 0 25%;
    }

    .col-3 {
        flex: 0 0 75%;
    }
    .col-2 {
        flex: 0 0 50%;
    }
    .col-auto {
        flex: 1 0 50%;
    }
    .col-full {
        flex: 0 0 100%;
    }
}

/* Responsivity */

@media screen and (max-width: $size-lg) {
    .grid {
        margin: 0;
    }
}
@media screen and (max-width: $size-md) {
    .grid {
        .col-2, .col-3 {
            flex: 0 0 100%;
        }
        .col {
            flex: 0 0 50%;
        }
    }
}

@media screen and (max-width: $size-xs) {
    .grid {
        .col-auto, .col{
            flex: 0 0 100%;
        }
    }
}