@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Quicksand:300,400,700&display=swap');

@import "variables.scss";

@import "grid.scss";
@import "global.scss";

@import "layout/skills.scss";
@import "layout/background.scss";
@import "layout/header.scss";

/* Reformating */
html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

nav.menu  {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

p {
    margin: 0;
}