@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Quicksand:300,400,700&display=swap');

@import "variables.scss";
@import "grid.scss";

@import "layout/skills.scss";

html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

nav  {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

p {
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

/* Titles */
h2, h3, h4, h5 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    margin: 1rem 0 0 0;
}

.section-title {
    font-size: 4rem;
    color: $dark-color;
}
.sub-title {
    font-size: 2.5rem;
    margin: 2rem 0 0 0;
    font-weight: 300;
    &:before {
        content: '#';
        color: $primary-color;
    }
}
.content-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: $primary-color;
}

/* Background */
$layout-lines: 2px solid $gray-color-light;
#background {
    z-index: -1;
    position: fixed;
    width: 100%;
    .grid {
        border-left: $layout-lines;
        border-right: $layout-lines;
        .col {
            height: 100vh;
        }
        .col:not(:last-child) {
            border-right: $layout-lines;
        }
    }
}

/* Menu */
.main-nav {
    position: fixed;
    right: 10%;
    top: 0;
}