<section id="contact" class="section">
    <div class="grid">
        <div class="col-full section-title-container">
            <h2 class="section-title">{{ lang.CONTACT.TITLE }}</h2>
            <span class="section-rule"></span>
        </div>
        <div class="col">
        </div>
        <div class="col-2">
            <div class="contact-container">
                <div class="contact-mail-icon">
                    <i class="icon-mail"></i>
                </div>
                <a class="link contact-mail" href="mailto:nicolas.degheselle@viacesi.fr">nicolas.degheselle@viacesi.fr</a>
                <a class="link contact-mail-mobile" href="mailto:nicolas.degheselle@viacesi.fr">@</a>
            </div>
        </div>
    </div>
</section>